<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Información parqueaderos</title>
</head>

<body>
    <nav class="navbar navbar-light bg-warning mx-auto" align="center" style="position: relative;">        
        <img src="{{url_for('static', filename='Parking.png')}}" width="5%" />        
        <a align="center" class="navbar-brand mx-auto" href="{{ url_for('park') }}">Parqueaderos</a>        
        <a align="center" class="navbar-brand mx-auto" href="{{ url_for('con_control') }}">Controladores</a>
        <img src="{{url_for('static', filename='LogoWhite.png')}}" width="5%" />                
    </nav>
</body>

</html>